*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
background-color: white;
}
:root {
    --rojo_oscuro: #772432;
    --transparente: rgb(0,0,0,0);
    --gris: #e8e8e8;
  }
  
.fecha{
    text-align: center;
    font-size: 30   px;
}
#uno.cargo1,#uno.cargo2,#uno.cargo3
{
    
    max-height: 810px;
   background-color: grey;
    background-color: var(--transparente);
    
   



}


#uno{ 
    height: 840px;
    width: 100%;
    display:flex;
   justify-content: space-around;
   background-color: var(--rojo_oscuro);
   border-radius: 3%;
    
}

.fecha{
    font-size: 3em;
}

.cargo3  {
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items:center;
}
.cargo1  img,.cargo2 img,.cargo3 img{
    width: 160px;
    height: 150px;
    filter:brightness(1.1);
    mix-blend-mode:multiply;
    
    
   
   
}
.cargo1 h2 img .cargo2 h2 img,.cargo3 h2 img{
    width: 100%;
    height: 60%;
    border-radius: 10px;
    
}

.cargo1 h2,.cargo2 h2, .cargo3 h2{
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 32.7%;
    border: 4px solid var(--gris)  ;
  
}
    
    




button{
    

    width: 10vw;
    height: 5vh;
    margin-top: 200px;
    position: static;

    
     }

p{font-weight: normal;
    font-size: .9em;}
   
.titulo{
    width: 18vw;
    border-radius: 7px;
    text-align:center;
    font-size: 27px;
    font-weight: 600;
    height: 4.1vh;
    margin-top: 7px;
    font-family: var(--bs-font-sans-serif);
    
   
}
nav{display: flex;
    height: 5.9vh;
justify-content:center}

.logo{
    position: relative;
    width: 50px;
    height: 40px;
   border-radius: 7px;
    
    
}
.img-fluid{
    border-radius: 7px;
    

    filter:brightness(1.1);
    mix-blend-mode:multiply;
}


figure{
    font-size: 2em;
    text-align: center;
    color: var(--rojo_oscuro);
}
figure .blockquote{
    font-size: 2em;

}