*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
background-color: white;
}
:root {
    --rojo_oscuro: #772432;
    --transparente: url(../images/international.png);
    --gris: #e8e8e8;
  }
  
.fecha{
    text-align: center;
    font-size: 30   px;
}
#uno.cargo1,#uno.cargo2,#uno.cargo3
{
    
    max-height: 810px;
   background-color: grey;
    background-color: var(--transparente);
    
    
    
   



}


.cargo1,.cargo2,.cargo3{
    position: relative;
    margin-top: 23px;
    height: 49em;
    width: 15em;
    background-color: transparent;
    border-radius: 5%;}
#uno{ 
    position: relative;
    margin:  0 auto ;
    height: 840px;
    width: 98%;
    display:flex;
   justify-content: space-around;
   background-color: var(--rojo_oscuro);
   border-radius: 1%;
   border-style:double; 
   outline: solid;
    
}

.fecha{
    font-size: 3em;
}

.cargo3{border-radius: 2px;}
.cargo3  {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
     align-items:center;
}
.cargo1  img,.cargo2 img,.cargo3 img{
    width: 160px;
    height: 150px;
    filter:brightness(1.1);
    mix-blend-mode:multiply;
    
    
   
   
}
.cargo1 h2 img .cargo2 h2 img,.cargo3 h2 img{
    width: 100%;
    height: 60%;
    
    
}

.cargo1 h2,.cargo2 h2, .cargo3 h2{
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 32.7%;
    border: 2px solid var(--gris)  ;
    border-radius: 1%;
  
}
    
    




button{
    

    width: 10vw;
    height: 5vh;
    margin-top: 200px;
    position: static;

    
     }

p{font-weight: normal;
    font-size: .9em;}
   

.a{
    text-decoration: none;
    color: white;
    padding: none;
    background-color: transparent;
  }



.titulo{
    
    width: 350px;
    height: 100%;
    display: flex;
    
    font-size: 29px;
    letter-spacing: 1.7px;
    font-weight: 700;
    
    justify-content: center;
    font-family: var(--bs-font-sans-serif);
    
    
   
}
nav{display: flex;
   
    height: 8vh;
justify-content:center;}

.nav{
    
    border-style: ridge;
    
    }
.nada{
    
  
    
    width: 100%;
    height: 100%;}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 60%;
    min-width: 10vw;
    min-height: 20vh;
    
    

}



figure{
    font-size: 2em;
    text-align: center;
    color: var(--rojo_oscuro);
}
figure .blockquote{
    font-size: 2em;

}


