<!DOCTYPE html>
<html lang="es">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Toastmasters</title>
    
    <nav>Toastmaster</nav>


<body>
   
    <h1> Cargos <br> {{time.strftime('%d/%m/%Y')}}</h1>



    <div id="uno">

     <section  class="cargo1"><h2>Campanero<img src="{{url_for('static', filename='images/Campanero.png')}}"><p>Ulises</p></h2> 
     <h2>Gramatical<img src="{{url_for('static', filename='images/E.Gramatical.png')}}"><p>Paco</p></h2> 
     <h2>E. Gemeral<img src="{{url_for('static', filename='images/Evaluador General.png')}}"><p>Reyma</p></h2> </section>
     <section class="cargo3"><h2>Toastmaster<img src="{{url_for('static', filename='images/Toastmaster.png')}}"><p>Julio</p></h2> </section>
     <section class="cargo2"><h2>Cronometrador<img src="{{url_for('static', filename='images/Cronometrador.png')}}"><p>Agustin</p></h2> 
     <h2>D. de Temas<img src="{{url_for('static', filename='images/D.Temas_Improvisados.png')}}"><p>Brian</p></h2> 
     <h2>Educativa<img src="{{url_for('static', filename='images/Educativa.png')}}"><p>Pepe</p></h2> </section>
     
    
    
    
    </div>
    <div class="boton"><button onclick="alert('Nuevos cargos asignados')"> DELEGAR</button></div>

    
    </body>

    


</html>
