<!DOCTYPE html>
<html lang="es">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Toastmasters</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <div class="flex">
      <nav  class ="nav"style="background-color: #e8e8e8;">
        
        <div class="titulo"> 
        <nav class="nada"><img src="{{url_for('static', filename='images/toasmaster_L_letras.png')}}">
        
              
              
          </nav> 
        </div> 
          
      </nav>
      
      
    </div>
    
    <span class="placeholder col-12"></span>


<body>
   
    

    <figure id="cuatro">
        <blockquote class="blockquote">
          <p>Proxima Sesión:</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            {{time.strftime('%d/%m/%Y')}}<i class="bi bi-calendar-week"></i> <cite title="Source Title"> No faltes</cite>
        </figcaption>
    </figure>

    {% block content %}
    
    <div id="uno">

     <section  class="cargo1"><h2>Campanero<img src="{{url_for('static', filename='images/Campanero2.png')}}"><p>Ulises</p></h2> 
     <h2>E.Gramatical<img src="{{url_for('static', filename='images/E.Gramatical.png')}}"><p>Paco</p></h2> 
     <h2>E.General<img src="{{url_for('static', filename='images/Evaluador General.png')}}"><mark>Reyna</mark></h2> </section>
     <section class="cargo3">
        <h2>Toastmaster
            <img src="{{url_for('static', filename='images/Toastmaster.png')}}">
              <p>Julio</p>
            </h2> 
                <button type="button" class="btn btn-outline-secondary">Delegar</button>
                <div class="logo">
        <img src="{{url_for('static', filename='images/toastmaster_logo.png')}}" class="img-fluid" alt="Imagen_logo">
      </div>
      </section>
     <section class="cargo2"><h2>Cronometrador<img src="{{url_for('static', filename='images/Semaforo2.png')}}"><p>Agustin</p></h2> 
     <h2>D. de Temas<img src="{{url_for('static', filename='images/D.Temas_Improvisados.png')}}"><p>Brian</p></h2> 
     <h2>Educativa<img src="{{url_for('static', filename='images/Educativa.png')}}"><p>Pepe</p></h2> </section>
     
    
    
    
    </div>
    
    

    
    </body>
    <span class="placeholder col-12"></span>
    {% endblock content %}

    <!-- <table class="table table-secondary"> 
        <thead>
          <tr >
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>John</td>
            <td>Doe</td>
            <td>john.doe@example.com</td>
          </tr>
          <tr >
            <td>Jane</td>
            <td>Doe</td>
            <td>jane.doe@example.com</td>
            <tr >
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td>John</td>
                <td>Doe</td>
                <td>john.doe@example.com</td>
              </tr>
              <tr >
                <td>Jane</td>
                <td>Doe</td>
                <td>jane.doe@example.com</td>
          </tr>
        </tbody>
      </table> -->

    

     
</html>
